body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  align-items: center;
}

.messages-container {
  flex: 1;
  width: 90%; 
  max-height: 400px; 
  padding: 20px;
  overflow-y: auto; 
  margin-bottom: 20px; 
}

.input-container {
  display: flex;
  gap: 10px; 
}


.message {
  position: relative;
  max-width: 500px;
  background-color: #007aff;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-buttons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 18px;
}

.edit-input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
}

.update-button {
  background-color: #007aff;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #005bb5;
}

input[type='text'] {
  flex: 1;
  width: 1000px; 
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #007aff;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bb5;
}